extends layout

block content
    section.hero
        .about-preview
            h2.section-title
                span.title-about AB
                    br
                    | OUT
            .about-content
                p BUG Radio is on a mission to create a dynamic and interactive community radio in The Hague and it is striving to truly be a community radio, exploring the boundaries of radio as a medium for artistic expression and community connection.
                a.read-more(href="/about") ▶ READ MORE

    section.main-content
        .schedule-section
            h2.section-title
                span.title-schedule SCHEDULE (CET)

            if scheduleByDay && scheduleByDay.length
                each dayGroup in scheduleByDay
                    .schedule-day-block
                        .schedule-date= dayGroup.date
                        ul.schedule-list
                            each episode in dayGroup.episodes
                                li.schedule-item
                                    span.time= episode.time
                                    |  #{episode.title}
                                    if episode.showTitle
                                        |  - #{episode.showTitle}
            else
                p.no-schedule No upcoming programs scheduled

            a.read-more(href="/schedule") ▶ READ MORE

        .shows-section
            h2.section-title
                span.title-shows SHOWS

            if shows && shows.length
                ul.shows-list
                    each show in shows
                        li
                            a(href=`/shows/${show.slug || show._id}`)= show.title
            else
                p.no-shows No shows available yet

            a.read-more(href="/shows") ▶ READ MORE
